header.home-image {
  background-image: url("https://res.cloudinary.com/dcs/image/upload/v1567019625/Portfolio%20Website/portfolio-home-page-header.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
